.Button {
    cursor: pointer;
    width: 100%;
    padding: 14px;
    color: #fff;
    border: none;
    border-radius: 24px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    height: 100%;
}

.Button:hover{
    background: linear-gradient(to right, #FFF 50%, #FFF172 100%, #FFF 100%);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: waves 1.5s forwards ease-out;
}

@keyframes waves {
    to {
      background-position: 200% center;
    }
}

.Active {
    background: #3183FF;   
    outline:none; 
}

.Parent {
    width: 100%;
    display: inline-block; 
    height: 48px; 
    border-radius: 24px; 
}